<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd">
	
	<!-- Empty filter chain for the login page and assets file-->
	<http pattern="/login.htm*" security="none"/>
	<http pattern="/locate/**" security="none"/>
	<http pattern="/bdmAlarm/save**" security="none"/>
	<http pattern="/views/smart/login/**" security="none" />
	<http pattern="/views/smart/assets/**" security="none" />
	
	<!-- Additional filter chain for normal users, matching all other requests -->
	<http auto-config="true" use-expressions="false">
		<intercept-url pattern="/**" access="ROLE_USER"/>
		<form-login login-page="/login.htm"
			default-target-url="/"
			authentication-failure-url="/login.htm?error" />
		<logout logout-success-url="/login.htm?logout" /> 
		<session-management> 
		    <concurrency-control max-sessions="1" error-if-maximum-exceeded="false" />
		</session-management>
		<csrf disabled="true"/>
    </http>
    
    <beans:bean id="userDetailsService" class="org.smartframework.platform.security.login.UserDetailsServiceImpl" />
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailsService">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>
