/*
 * @description smart框架样式
 * @author zhaochuanfeng
 */
/* --------------------------layout布局------------------------------*/
.smart-layout {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto
}

#header {
    height: 60px;
    width: 100%;
    position: relative;
    z-index: 1000;
    background: #3f3f3f;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.header-logo {
    float: left;
    height: 100%;
    width: 220px;
    background: url(../images/logo.png) center no-repeat
}

.header-user {
    float: left;
    height: 100%;
}

.header-user label, .header-user a {
    display: inline;
    line-height: 60px;
    margin: 0 2px;
    color: #fff
}

.header-menu {
    float: right;
    height: 100%;
    background: #555;
    border-left: dashed 1px #888;
    border-right: dashed 1px #888;
    padding: 0;
}

.header-menu a {
    display: inline-block;
    height: 100%;
    line-height: 60px;
    width: 80px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer
}

.header-menu a:hover {
    background: #3f3f3f
}

#s-panel {
    position: relative;
    margin: 0 auto;
    height: 100%;
}

#s-left-panel {
    position: absolute;
    z-index: 999;
    top: 100px;
    left: 0;
    width: 220px;
    height: calc(100% - 100px);
    border-right: 1px solid #ccc
}

#s-top-panel {
    position: relative;
    padding-left: 220px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #ccc;
}

#s-main-panel {
    position: relative;
    padding-left: 220px;
    height: calc(100% - 100px);
}

#footer {
    position: absolute;
    bottom: -60px;
    z-index: 999;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #3F3F3F;
    color: #fff;
    border-top: 1px solid #ccc
}

/* ----------------------导航菜单栏--------------------------- */
.s-nav,
.s-menu {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none
}

.s-nav li,
.s-menu li {
    line-height: 25px
}

.s-nav li a,
.s-menu li a {
    font-size: 12px;
    color: #444;
    text-decoration: none !important
}

.s-nav li a:hover,
.s-menu li a:hover {
    color: #444;
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer
}

.s-nav li a span,
.s-menu li a span {
    padding: 0 5px
}

/* （顶部）一级菜单 */
.s-nav.s-module-menu > li {
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: 1px solid transparent;
}

.s-nav.s-module-menu > li > a {
    font-size: 13px;
    color: #333;
    text-align: center;
    display: block;
    width: 120px;
    cursor: default;
    padding: 5px 10px
}

.s-nav.s-module-menu > li > a:hover {
    color: #333;
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer
}

/* （左侧）一级菜单 */
.s-menu.s-module-menu {
    border-top: 1px solid #ccc
}

.s-menu.s-module-menu > li {
    background-color: #f5f5f5;
    border-bottom: 1px solid #dfdfdf
}

.s-menu.s-module-menu > li > a {
    display: block;
    padding: 5px 10px
}

/* 二、三级菜单 */
.s-nav.s-group-menu {
    border-bottom: 1px solid #ccc
}

.s-nav.s-group-menu li,
.s-menu.s-group-menu li {
    line-height: 25px;
    border-top: 1px solid #ccc
}

.s-nav.s-group-menu li > a,
.s-menu.s-group-menu li > a {
    display: block;
    padding: 5px 10px;
    text-indent: 10px;
    cursor: default
}

/* 三级菜单 */
.s-nav.s-leaf-menu li > a,
.s-menu.s-leaf-menu li > a {
    text-indent: 20px
}

.s-icon-right {
    float: right;
    line-height: 20px
}

/*-----------------------portal-----------------------------*/
.s-portal-shortcut {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0
}

.s-portal-image > a {
    width: 170px;
    height: 200px;
    margin: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.s-portal-image > a:hover {
    box-shadow: 2px 2px 2px #d6d6d6;
    -moz-box-shadow: 2px 2px 2px #d6d6d6
}

.s-plugin-image-办案区管控 {
    background: url(../images/portal_baqgk.png) no-repeat center;
    background-size: 70%;
}

.s-plugin-image-案件管理 {
    background: url(../images/portal_ajgl.png) no-repeat center;
    background-size: 70%;
}

.s-plugin-image-案件监督 {
    background: url(../images/portal_ajbl.png) no-repeat center;
    background-size: 70%;
}

.s-plugin-image-录音录像 {
    background: url(../images/portal_lylx.png) no-repeat center;
    background-size: 70%;
}

.s-plugin-image-基础数据 {
    background: url(../images/portal_jcsj.png) no-repeat center;
    background-size: 70%;
}

/*-----------------------切換寬度、菜单布局-----------------------------*/
.fixed-width {
    width: 1200px;
    border: 1px solid #ccc
}

.full-width {
    width: 100%;
    border: none;
}

.shrink-menu #s-top-panel {
    border: none !important;
}

.shrink-menu .top-nav, .expend-menu .left-nav {
    display: none !important;
}

.shrink-menu .left-nav, .expend-menu .top-nav {
    display: block !important;
}

/* ----------------------收缩侧边--------------------------- */
#minify {
    position: absolute;
    right: -2px;
    background: #d7dae2;
    border-bottom: 1px solid #818181;
    color: #7e7e7e;
    width: 30px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 19px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    transition: all .1s linear 0s
}

.minified #minify {
    position: relative;
    right: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0;
    border-radius: 0;
    font-size: 20px
}

.minified #s-left-panel {
    width: 120px;
    text-align: center
}

.minified #s-main-panel {
    padding-left: 120px
}

.minified #s-top-panel {
    padding-left: 120px
}

.minified .s-icon-right {
    display: none
}

.minified .s-menu.s-group-menu,
.minified .s-nav.s-leaf-menu {
    display: none;
    position: absolute;
    left: 120px;
    margin-top: -36px;
    margin-left: 1px;
    background: #fff;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc
}

.minified .s-menu.s-leaf-menu {
    display: none;
    position: absolute;
    left: 120px;
    margin-top: -36px;
    margin-left: -1px;
    background: #fff;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc
}

.minified .s-menu.s-module-menu > li > a,
.minified .s-nav.s-group-menu li > a,
.minified .s-menu.s-group-menu li > a {
    padding: 5px 0;
    text-align: left;
    text-indent: 10px
}

/* ----------------------面包屑--------------------------- */
.s-breadcrumb {
    line-height: 36px;
    padding: 0 10px;
    margin: 0 0 1px;
    list-style: none;
    border: 1px solid #ccc
}

.s-breadcrumb > li {
    display: inline-block;
}

.s-breadcrumb > li + li:before {
    padding: 0 4px;
    content: "\003E";
}

.s-breadcrumb > li > a {
    text-decoration: none;
}

/* ----------------------主题--------------------------- */
#theme {
    position: absolute;
    z-index: 999;
    top: 5px;
    right: 0;
    width: 190px;
    background: #d7dae2;
    color: #7e7e7e;
}

#theme > span {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 5px 0 0 5px;
    background: #d7dae2;
    color: #7e7e7e;
    text-align: center;
    line-height: 30px;
    cursor: pointer
}

#theme.activate {
    right: 0 !important;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 5px
}

#theme.activate > span {
    left: -30px
}

#theme h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 2px;
    text-align: center;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2)
}

#theme h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 2px;
    text-align: center;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2)
}

#theme label.s-switch {
    width: 40px;
    text-align: center;
}

#theme ul {
    margin: 0;
    padding: 0
}

#theme ul li {
    height: 24px;
    line-height: 24px;
    list-style: none;
    margin-top: 5px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer
}

#theme ul li span {
    font-size: 13px
}

/* -----------------主题面板颜色选择器------------------------ */
.skin-default {
    color: #fff;
    background-color: #F0713A
}

.skin-black {
    color: #fff;
    background-color: #0066CC
}

.skin-blueopal {
    color: #fff;
    background-color: #58A5C6
}

.skin-bootstrap {
    color: #fff;
    background-color: #0044CC
}

.skin-fiori {
    color: #fff;
    background-color: #007CC0
}

.skin-highcontrast {
    color: #fff;
    background-color: #870074
}

.skin-metro {
    color: #fff;
    background-color: #7EA700
}

.skin-metroblack {
    color: #fff;
    background-color: #008886
}

.skin-moonlight {
    color: #171E28;
    background-color: #F4AF03
}

.skin-silver {
    color: #fff;
    background-color: #0A7AC2
}

/* ----------------------不同主题的导航栏、面包屑等样式--------------------------- */
/* ********************** .K-black ************************ */
.k-black .s-nav li a:not(.k-state-selected),
.k-black .s-menu li a:not(.k-state-selected),
.k-black .s-breadcrumb {
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.12) 0,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.07) 100%);
    background-color: #292525;
    color: #fff;
}

.k-black #s-panel, .k-black .s-fieldset>label, .k-black fieldset, .k-black legend,
.k-black .s-nav li a:hover,
.k-black .s-menu li a:hover {
    background: #292525;
    color: #fff;
}

/************************ .K-blueopal ***********************/
.k-blueopal .s-nav li a:not(.k-state-selected),
.k-blueopal .s-menu li a:not(.k-state-selected),
.k-blueopal .s-breadcrumb, .k-blueopal fieldset {
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.45) 0,
    rgba(255, 255, 255, 0) 100%);
    background-color: #D9ECF5;
    color: #00435E;
}

.k-blueopal #s-panel {
    background: #fff
}

.k-blueopal .s-nav li a:hover,
.k-blueopal .s-menu li a:hover {
    background: #7BD2F6
}

/********************* .K-highcontrast ********************/
.k-highcontrast .s-nav li a:not(.k-state-selected),
.k-highcontrast .s-menu li a:not(.k-state-selected),
.k-highcontrast .s-breadcrumb, .k-highcontrast fieldset, .k-highcontrast legend {
    background-color: #2C232B;
    color: #fff
}

.k-highcontrast #s-panel {
    background: #3f373e;
}

.k-highcontrast #header {
    background: #1b141a;
    background: linear-gradient(45deg, #1b141a 0, #6d3353 100%)
}

.k-highcontrast #footer {
    background: #1b141a
}

.k-highcontrast .s-nav li a:hover,
.k-highcontrast .s-menu li a:hover {
    background-color: #A7008F;
    color: #fff
}

.k-highcontrast select,
.k-highcontrast textarea,
.k-highcontrast input {
    border-radius: 12px;
}

/************************ .K-moonlight **********************/
.k-moonlight .s-nav li a:not(.k-state-selected),
.k-moonlight .s-menu li a:not(.k-state-selected),
.k-moonlight .s-breadcrumb {
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0.1) 100%);
    background-color: #1F2A35;
    color: #fff
}

.k-moonlight #s-panel,
.k-moonlight #header,
.k-moonlight #footer,
.k-moonlight .s-fieldset>label, .k-moonlight fieldset, .k-moonlight legend {
    background: #212a33;
    background: linear-gradient(45deg, #212a33 0, #454d56 100%);
    color: #fff
}

.k-moonlight .s-nav li a:hover,
.k-moonlight .s-menu li a:hover {
    background: #1F2A35;
    color: #fff
}

/* ----------------------notification--------------------------- */
.notification-wrap {
    min-width: 200px;
    height: 50px;
    line-height: 60px;
}

.notification-wrap > i {
    margin: 0 20px;
}

/* ----------------------公共组件、辅助样式等--------------------------- */
/*
 * s-fieldset
 */
.s-fieldset {
    height: 26px;
    margin-bottom: 5px;
    position: relative
}

.s-fieldset > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 13px;
    width: 100%;
    box-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #c3c3c3
}

.s-fieldset > label {
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 20px;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px
}

.s-fieldset:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 100%;
    box-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #c3c3c3
}

/*
 * grid-增删改
 */
.s-grid-row-del {
    color: #CCC;
    text-decoration: line-through
}

.s-grid-row-update {
    font-weight: bolder
}

.s-grid-row-new {
    color: green
}

/*
 * form校验
 */
.s-required:before {
    content: '*';
    color: red;
    font-weight: bold;
    font-size: 110%;
    position: relative;
    right: 3px;
    top: 3px;
}

.s-field-invalid {
    color: red;
    font-size: 12px;
    background: url(../images/invalid_line.gif) 0 bottom repeat-x !important;
}

.red {
    color: red;
}

/*
 * 导航、工具栏
 */
.s-nav-pager {
    display: inline-block;
    height: 16px;
    padding: 2px;
    vertical-align: middle
}

.s-toolbar {
    margin-bottom: 10px;
    text-align: right
}
