
.content-left {
    height: 100%;
    border: 1px solid #ccc;
}

.content-right {
    position: relative;
    height: 100%;
    border: 1px solid #ccc;
    border-left: none;
    padding: 0;
}

#ctnBdmRoomWrap {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
}

#ctnCaseMediaWrap {
    border-top: 1px solid #ccc;
    text-align: center;
}

.video_up, .video_down {
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    text-align: center;
}

.video-bttom {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 900;
}

.video-bttom .col-md-6 {
    position: relative;
    height: 256px;
    background: #000;
    color: #fff;
    width: 50%;
    padding: 0;
    border: 1px solid #ccc;
}

.title-center {
    font-size: 200%;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

/* 定义keyframe动画，命名为blink */

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    /* 注意这里定义50.01%立刻透明度为０，可以设置闪烁效果 */
    100% {
        opacity: 0;
    }
}

/* 添加兼容性前缀 */

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* 定义blink类*/
.blink {
    animation: blink .75s linear infinite;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    color: #5bc0de;
}

.person_position {
    width: 26px !important;
    height: 30px !important;
    position: absolute;
    bottom: 35px;
    left: calc(50% - 13px);
}

.person_content {
    background: #fff;
    position: absolute;
    top: auto;
    bottom: 0;
    width: 250px;
    height: 120px;
    left: calc(50% + 20px);
    z-index: 9999;
    word-wrap: break-word;
}

.person_content p {
    padding: 5px 0;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.person_content p:last-child {
    border: 0;
}

.room_warning {
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    top: 5px;
    right: 5px;
}